@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,400&family=Roboto:wght@700&display=swap');
/* font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1400px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
}
body{
    background: #F4F8FA;
}
header{
    position: fixed;
    width: 100%;
    padding: 8px 0px;
    margin-bottom: 24px;
    top:0;
    background: #fff;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.navbar{
    display: flex;
    position: relative;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    gap: 512px;
}
.navbar-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.nav-link{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    transition: .5s ease;
}
.left-login a{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
}
.right-login a{
    color:#01BAB3;
    text-decoration: underline;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 52px;
}
.navbar-img{
    width: 102px;
    height: 40px;
}
.button-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.register{
    width: 800px;
    /* height: 850px; */
    padding: 40px;
    background: #fff;
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.register-img{
    width: 102px;
    height: 40px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 40px;
}
.register h1{
    margin-top: 24px;
    font-family: Segoe UI;
    font-size: 29px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align:center;
}
.register-link{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 16px;
    gap: 14px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
}
.name{
    display: inline;
    margin-top: 56px;
}
.register-btn{
    width: 100%;
    height: 48px;
    padding: 12px 0px;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-top: 24px;
    background-color:#01BAB3;
    font-family: Segoe UI;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;    
}
.register-btn img{
    width: 24px;
    height: 24px;
}
.register-btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    gap: 16px;
}
.register-text{
    margin-top: 64px;
    margin-bottom: 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color:#555757;
    
}
.firstname label{
    display: block;
}
.lastname label{
    display: block;
}
.birth-date label{
    display: block;
}
.skype label{
    display: block;
}
.promo label{
    display: block;
}
.register input{
    width: 100%;
    height: 48px;
}
label{
    margin-top: 24px;
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;    
}
input{
    padding: 10px;
    margin-top: 10px;
}
.password-box {
    position: relative;
    /* padding: 10px; */
    margin-top: 10px;
}
.password-box i{
    position: absolute;
    right:30px;
    top:60%; 
}
.button-group a{
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    transition: .5s ease;
}
.nav-link:hover{
    color:rgba(146, 5, 5, 0.8);
}
.button-group a:hover{
    color:rgba(146, 5, 5, 0.8);
}